{{#if @model.contact}}
  <h1>Hello.... {{@model.contact.firstName}} {{@model.contact.lastName}}</h1>
{{/if}}
<h2>List of Contacts</h2>
<ul>
  {{#each @model as |contact|}}
    <li>{{contact.firstName}}. {{contact.lastName}}</li>
  {{/each}}
</ul>
<Director>
</Director>
