<h2>List of Contacts</h2>
<p>
  {{#if @model.contacts.isRunning}}
    Running...
  {{else}}
    <ul>
      {{#each @model.contacts.value as |contact|}}
        <li>{{contact.firstName}}. {{contact.lastName}}</li>
      {{/each}}
    </ul>
  {{/if}}
</p>
<Director />
